Repository belgattitude/httpx: changes, and which Codecov flags are due for each by the changed paths.
All: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      httpx-exception-unit:
        target: 80%
        flags:
          - httpx-exception-unit
      httpx-dsn-parser-unit:
        target: 80%
        flags:
          - httpx-dsn-parser-unit
      httpx-json-api-unit:
        target: 20%
        flags:
          - httpx-json-api-unit

flags:
  httpx-exception-unit:
    paths:
      - packages/exception/
  httpx-dsn-parser-unit:
    paths:
      - packages/dsn-parser/
  httpx-json-api-unit:
    paths:
      - packages/json-api/

ignore:
  - '.yarn/**/*'
  - '.husky/**/*'
  - 'docs/**/*'
  - 'examples/**/*'
  - '**/dist/**/*'

github_checks: true

comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
  show_carryforward_flags: true

chore(codecov): attempt to fix coverage upload
  codecov.yml
Due: none

ci: fix coverage upload
  .github/workflows/ci-packages.yml
Due: none

ci: fix coverage upload
  codecov.yml
Due: none

ci: fix coverage upload (#504)
  .github/workflows/ci-packages.yml
  codecov.yml
Due: none

fix: removed unused params
  packages/dsn-parser/tsup.config.mjs
  packages/json-api/tsup.config.mjs
Due: httpx-dsn-parser-unit, httpx-json-api-unit

chore: add jsdoc to type export
  packages/dsn-parser/.size-limit.cjs
  packages/json-api/.size-limit.cjs
Due: httpx-dsn-parser-unit, httpx-json-api-unit

docs: updated readme's
  README.md
  packages/dsn-parser/README.md
  packages/exception/README.md
  packages/json-api/README.md
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

fix: widen browser support by forcing es2019 compat
  .changeset/two-teachers-juggle.md
  package.json
  packages/dsn-parser/package.json
  packages/dsn-parser/tsup.config.mjs
  packages/json-api/package.json
  packages/json-api/tsup.config.mjs
Due: httpx-dsn-parser-unit, httpx-json-api-unit

fix: widen browser support by forcing es2019 compat (#505)
  .changeset/two-teachers-juggle.md
  package.json
  packages/dsn-parser/package.json
  packages/dsn-parser/tsup.config.mjs
  packages/json-api/package.json
  packages/json-api/tsup.config.mjs
Due: httpx-dsn-parser-unit, httpx-json-api-unit

fix: codecov badge
  packages/dsn-parser/README.md
  packages/exception/README.md
  packages/json-api/README.md
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

docs: readme update
  README.md
  docs/README.md
  packages/dsn-parser/README.md
  packages/exception/README.md
  packages/json-api/README.md
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

Version Packages (#506)
  .changeset/two-teachers-juggle.md
  packages/dsn-parser/CHANGELOG.md
  packages/dsn-parser/package.json
  packages/json-api/CHANGELOG.md
  packages/json-api/package.json
Due: httpx-dsn-parser-unit, httpx-json-api-unit

feat(dsn-parser): support + char in driver
  .changeset/popular-coats-beam.md
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/package.json
  packages/dsn-parser/src/__tests__/parse-dsn.test.ts
  packages/dsn-parser/src/parse-dsn.ts
  packages/exception/package.json
  packages/json-api/package.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

feat(exception): bundle with tsup
  packages/exception/.size-limit.cjs
  packages/exception/package.json
  packages/exception/tsconfig.build.json
  packages/exception/tsup.config.mjs
  yarn.lock
Due: httpx-exception-unit

feat(dsn-parser): support + char in driver (#510)
  .changeset/popular-coats-beam.md
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/package.json
  packages/dsn-parser/src/__tests__/parse-dsn.test.ts
  packages/dsn-parser/src/parse-dsn.ts
  packages/exception/package.json
  packages/json-api/package.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

refactor(exception)!: move to es2019
  packages/exception/package.json
Due: httpx-exception-unit

Version Packages (#511)
  .changeset/popular-coats-beam.md
  packages/dsn-parser/CHANGELOG.md
  packages/dsn-parser/package.json
Due: httpx-dsn-parser-unit

feat: min node to 16 / es2017 and tsup
  .changeset/healthy-wasps-heal.md
  .changeset/rotten-stingrays-walk.md
  .changeset/tender-ravens-grab.md
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/package.json
  packages/exception/.size-limit.cjs
  packages/exception/README.md
  packages/exception/babel.config.cjs
  packages/exception/package.json
  packages/exception/rollup.config.js
  packages/exception/src/serializer/mapper/__tests__/__snapshots__/convertToSerializable.test.ts.snap
  packages/exception/tsup.config.mjs
  packages/json-api/package.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

feat: min node to 16 / es2017 and tsup
  packages/exception/package.json
  packages/exception/tsup.config.mjs
  yarn.lock
Due: httpx-exception-unit

feat: min node to 16 / es2017 and tsup
  .github/workflows/ci-packages.yml
Due: none

With tsup (#512)
  .changeset/healthy-wasps-heal.md
  .changeset/rotten-stingrays-walk.md
  .changeset/tender-ravens-grab.md
  .github/workflows/ci-packages.yml
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/package.json
  packages/exception/.size-limit.cjs
  packages/exception/README.md
  packages/exception/babel.config.cjs
  packages/exception/package.json
  packages/exception/rollup.config.js
  packages/exception/src/serializer/mapper/__tests__/__snapshots__/convertToSerializable.test.ts.snap
  packages/exception/tsconfig.build.json
  packages/exception/tsup.config.mjs
  packages/json-api/package.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

Version Packages (#519)
  .changeset/healthy-wasps-heal.md
  .changeset/rotten-stingrays-walk.md
  .changeset/tender-ravens-grab.md
  examples/nextjs-app/CHANGELOG.md
  examples/nextjs-app/package.json
  packages/exception/CHANGELOG.md
  packages/exception/package.json
  packages/json-api/CHANGELOG.md
  packages/json-api/package.json
Due: httpx-exception-unit, httpx-json-api-unit

feat: doc website
  docs/package.json
  docs/pages/_app.mdx
  docs/src/components/fonts/FontInter.tsx
  docs/src/pages/_app.mdx
  docs/src/pages/_meta.json
  docs/src/pages/exception/_meta.json
  docs/src/pages/exception/advanced.mdx
  docs/src/pages/exception/index.mdx
  docs/src/pages/exception/parameters.mdx
  docs/src/pages/exception/usage.mdx
  docs/src/pages/index.mdx
  docs/src/pages/license.md
  docs/src/pages/sponsors.mdx
  docs/src/styles/global.css
  docs/tailwind.config.ts
  packages/exception/README.md
  yarn.lock
Due: httpx-exception-unit

feat: next versions
  .changeset/smart-poems-confess.md
  .changeset/tall-rice-taste.md
  .changeset/tricky-jeans-wash.md
  examples/nextjs-app/.eslintrc.cjs
  examples/nextjs-app/package.json
  examples/nextjs-app/src/backend/parseRequestWithZod.ts
  examples/nextjs-app/src/backend/withApiErrorHandler.ts
  examples/nextjs-app/src/lib/zod.utils.ts
  examples/nextjs-app/src/pages/api/status/[statusCode].tsx
  examples/nextjs-app/src/pages/getServerSideProps.tsx
  examples/nextjs-app/tsconfig.json
  package.json
  packages/dsn-parser/.eslintrc.cjs
  packages/dsn-parser/package.json
  packages/dsn-parser/src/assert-parsable-dsn.ts
  packages/dsn-parser/src/dsn-parser.util.ts
  packages/dsn-parser/src/parse-dsn.ts
  packages/dsn-parser/src/query-param-parser.ts
  packages/dsn-parser/tsconfig.json
  packages/exception/.eslintrc.cjs
  packages/exception/package.json
  packages/exception/src/base/__tests__/HttpClientException.test.ts
  packages/exception/src/base/__tests__/HttpException.test.ts
  packages/exception/src/base/__tests__/HttpServerException.test.ts
  packages/exception/src/factory/__tests__/createHttpException.test.ts
  packages/exception/src/serializer/json/fromJson.ts
  packages/exception/src/types/HttpStatusCode.ts
  packages/exception/tsconfig.json
  packages/json-api/.eslintrc.cjs
  packages/json-api/package.json
  packages/json-api/src/json-api-error.factory.ts
  packages/json-api/tsconfig.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

test: remove obsolete snapshots
  packages/exception/src/serializer/mapper/__tests__/__snapshots__/convertToSerializable.test.ts.snap
Due: httpx-exception-unit

feat: next versions (#532)
  .changeset/smart-poems-confess.md
  .changeset/tall-rice-taste.md
  .changeset/tricky-jeans-wash.md
  examples/nextjs-app/.eslintrc.cjs
  examples/nextjs-app/package.json
  examples/nextjs-app/src/backend/parseRequestWithZod.ts
  examples/nextjs-app/src/backend/withApiErrorHandler.ts
  examples/nextjs-app/src/lib/zod.utils.ts
  examples/nextjs-app/src/pages/api/status/[statusCode].tsx
  examples/nextjs-app/src/pages/getServerSideProps.tsx
  examples/nextjs-app/tsconfig.json
  package.json
  packages/dsn-parser/.eslintrc.cjs
  packages/dsn-parser/package.json
  packages/dsn-parser/src/assert-parsable-dsn.ts
  packages/dsn-parser/src/dsn-parser.util.ts
  packages/dsn-parser/src/parse-dsn.ts
  packages/dsn-parser/src/query-param-parser.ts
  packages/dsn-parser/tsconfig.json
  packages/exception/.eslintrc.cjs
  packages/exception/package.json
  packages/exception/src/base/__tests__/HttpClientException.test.ts
  packages/exception/src/base/__tests__/HttpException.test.ts
  packages/exception/src/base/__tests__/HttpServerException.test.ts
  packages/exception/src/factory/__tests__/createHttpException.test.ts
  packages/exception/src/serializer/json/fromJson.ts
  packages/exception/src/serializer/mapper/__tests__/__snapshots__/convertToSerializable.test.ts.snap
  packages/exception/src/types/HttpStatusCode.ts
  packages/exception/tsconfig.json
  packages/json-api/.eslintrc.cjs
  packages/json-api/package.json
  packages/json-api/src/json-api-error.factory.ts
  packages/json-api/tsconfig.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

Version Packages (#533)
  .changeset/smart-poems-confess.md
  .changeset/tall-rice-taste.md
  .changeset/tricky-jeans-wash.md
  examples/nextjs-app/CHANGELOG.md
  examples/nextjs-app/package.json
  packages/dsn-parser/CHANGELOG.md
  packages/dsn-parser/package.json
  packages/exception/CHANGELOG.md
  packages/exception/package.json
  packages/json-api/CHANGELOG.md
  packages/json-api/package.json
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

chore(dev-deps): update to latest
  examples/nextjs-app/.eslintrc.cjs
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/package.json
  packages/exception/package.json
  packages/json-api/package.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

chore(dev-deps): update to latest (#564)
  examples/nextjs-app/.eslintrc.cjs
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/package.json
  packages/exception/package.json
  packages/json-api/package.json
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

ci: prep for yarn 4
  .github/workflows/ci-examples.yml
  .github/workflows/ci-packages.yml
Due: none

docs: fix example with zod
  packages/dsn-parser/README.md
Due: httpx-dsn-parser-unit

chore(dev-deps): to latest
  examples/nextjs-app/package.json
  packages/exception/package.json
  yarn.lock
Due: httpx-exception-unit

docs: regenerate api-doc
  packages/dsn-parser/docs/api/README.md
  packages/exception/docs/api/modules/typeguards.md
  packages/json-api/docs/api/README.md
  packages/json-api/docs/api/classes/JsonApiErrorFactory.md
  packages/json-api/docs/api/classes/JsonApiResponseFactory.md
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

chore(script): prep for yarn 4
  package.json
Due: none

chore: allow node 20
  .nvmrc
  package.json
Due: none

chore(yarn): update to yarn 4.0.0-rc.50
  .github/workflows/ci-packages.yml
  .yarn/releases/yarn-4.0.0-rc.46.cjs
  .yarn/releases/yarn-4.0.0-rc.50.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Doc update (#567)
  .github/workflows/ci-examples.yml
  .github/workflows/ci-packages.yml
  .nvmrc
  .yarn/releases/yarn-4.0.0-rc.46.cjs
  .yarn/releases/yarn-4.0.0-rc.50.cjs
  .yarnrc.yml
  examples/nextjs-app/package.json
  package.json
  packages/dsn-parser/README.md
  packages/dsn-parser/docs/api/README.md
  packages/exception/docs/api/modules/typeguards.md
  packages/exception/package.json
  packages/json-api/docs/api/README.md
  packages/json-api/docs/api/classes/JsonApiErrorFactory.md
  packages/json-api/docs/api/classes/JsonApiResponseFactory.md
  yarn.lock
Due: httpx-exception-unit, httpx-dsn-parser-unit, httpx-json-api-unit

fix: fix release script with yarn 4
  package.json
Due: none

fix: fix release script with yarn 4 (#568)
  package.json
Due: none
